# MBA em Ciência de Dados
# Técnicas Avançadas de Captura e Tratamento de Dados

### <span style="color:darkred">Tratamento e limpeza de Dados</span>


### <span style="color:darkred">Avaliação</span>

Moacir Antonelli Ponti

CeMEAI - ICMC/USP São Carlos

---

In [2]:
# carregando as bibliotecas necessárias
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.svm import SVC
from sklearn.linear_model import Ridge
from sklearn import metrics

# carregando dados
data = pd.read_csv("../dados/pib_mba_avaliacao2022.csv")
data

,id,gid,UF,nome,Censo,PIB,Pop_est_2009,PIB_percapita,Descrição,classe,desemprego
0,1406,1,RIO GRANDE DO SUL,Igrejinha,2010.0,6.907114e+05,33551,20586.910156,Produto Interno Bruto per capita,2,5.1
1,4252,2,RIO GRANDE DO SUL,Três Coroas,2010.0,4.102403e+05,24786,16551.289062,Produto Interno Bruto per capita,2,4.8
2,998,3,RIO GRANDE DO SUL,Canoas,2010.0,1.644448e+07,332056,49523.199219,Produto Interno Bruto per capita,3,4.6
3,4292,4,RIO GRANDE DO SUL,Sapucaia do Sul,2010.0,1.767158e+06,126316,13989.980469,Produto Interno Bruto per capita,2,4.5
4,991,5,RIO GRANDE DO SUL,São Leopoldo,2010.0,3.302153e+06,211663,15600.990234,Produto Interno Bruto per capita,2,4.9
...,...,...,...,...,...,...,...,...,...,...,...
5563,150,5564,PIAUÍ,Alagoinha do Piauí,2010.0,2.727773e+04,7736,3526.080078,Produto Interno Bruto per capita,1,4.6
5564,4216,5565,PIAUÍ,Olho D'Água do Piauí,2010.0,1.029336e+04,2755,3736.250000,Produto Interno Bruto per capita,1,6.6
5565,137,5566,PIAUÍ,Passagem Franca do Piauí,2010.0,1.441198e+04,4246,3394.250000,Produto Interno Bruto per capita,1,5.1
5566,3861,5567,PIAUÍ,Barro Duro,2010.0,2.505022e+04,6853,3655.370117,Produto Interno Bruto per capita,1,4.7
5567,2975,5568,SERGIPE,Monte Alegre de Sergipe,2010.0,6.975481e+04,13817,5048.479980,Produto Interno Bruto per capita,1,9.5

Vamos utilizar uma base de dados baixada do IBGE com o PIB per capita para cada município brasileiro, essa base foi modificada para o propósito dos exercícios abaixo e possui as seguintes colunas:
* gid - identificador geográfico do município
* UF - unidade federativa
* nome - nome do município
* Censo - ano do censo relativo aos dados. Notar que houve censo agropecuário em 2007 e censo em 2010
* PIB - total do PIB
* Pop_est_2009 - populacao estimada	
* PIB_percapita - PIB per capita segundo os dados
* Descrição - Descrição do dados
* classe - classe do município
* desemprego - índice de desemprego na cidade no ano do Censo

Serão usadas duas versões dessa base de dados. Cada questão sempre carrega a base de dados antes do início para não haver dependência entre as questões.

### Questão 1)


Verifique a distribuição dos valores e tipos dos atributos e realize um tratamento de dados considerando:

1. Correção dos dados que for possível inferir o valor verdadeiro, ajustando e padronizando-os. Anote em quais variáveis isso ocorreu. Valores outliers não devem ser removidos/alterados, apenas dados não padronizados ou passíveis de correção.
2. Conversão dos atributos cujos valores foram corrigidos no item anterior, e que deveriam ser numéricos, para numérico - inspecione os valores para garantir que a conversão não vá gerar dados faltantes de forma desnecessária, substituindo por numeros os que forem possíveis como por exemplo o atributo "floor" como visto na aula em que substituímos dados por 0. Anote as variáveis em que isso ocorreu.
    
Quais variáveis possuiam valores que precisaram ser padronizados ou corrigidos, e quantos valores em cada uma delas foi possível corrigir?

(a) UF (12) <br>
(b) UF (12) e PopEst2009 (3)<br>
(c) UF (12) e Censo (4)<br>
(d) UF (9), Desemprego (10), PopEst2009 (3)<br>

---

In [3]:
data = pd.read_csv("../dados/pib_mba_avaliacao2022.csv")

In [4]:
# verificar atributos/colunas
# corrigir e padronizar valores nas colunas conforme possível

data

,id,gid,UF,nome,Censo,PIB,Pop_est_2009,PIB_percapita,Descrição,classe,desemprego
0,1406,1,RIO GRANDE DO SUL,Igrejinha,2010.0,6.907114e+05,33551,20586.910156,Produto Interno Bruto per capita,2,5.1
1,4252,2,RIO GRANDE DO SUL,Três Coroas,2010.0,4.102403e+05,24786,16551.289062,Produto Interno Bruto per capita,2,4.8
2,998,3,RIO GRANDE DO SUL,Canoas,2010.0,1.644448e+07,332056,49523.199219,Produto Interno Bruto per capita,3,4.6
3,4292,4,RIO GRANDE DO SUL,Sapucaia do Sul,2010.0,1.767158e+06,126316,13989.980469,Produto Interno Bruto per capita,2,4.5
4,991,5,RIO GRANDE DO SUL,São Leopoldo,2010.0,3.302153e+06,211663,15600.990234,Produto Interno Bruto per capita,2,4.9
...,...,...,...,...,...,...,...,...,...,...,...
5563,150,5564,PIAUÍ,Alagoinha do Piauí,2010.0,2.727773e+04,7736,3526.080078,Produto Interno Bruto per capita,1,4.6
5564,4216,5565,PIAUÍ,Olho D'Água do Piauí,2010.0,1.029336e+04,2755,3736.250000,Produto Interno Bruto per capita,1,6.6
5565,137,5566,PIAUÍ,Passagem Franca do Piauí,2010.0,1.441198e+04,4246,3394.250000,Produto Interno Bruto per capita,1,5.1
5566,3861,5567,PIAUÍ,Barro Duro,2010.0,2.505022e+04,6853,3655.370117,Produto Interno Bruto per capita,1,4.7
5567,2975,5568,SERGIPE,Monte Alegre de Sergipe,2010.0,6.975481e+04,13817,5048.479980,Produto Interno Bruto per capita,1,9.5

In [10]:
data['UF'].value_counts()

MINAS GERAIS           852
SÃO PAULO              644
RIO GRANDE DO SUL      494
BAHIA                  415
PARANÁ                 395
SANTA CATARINA         293
GOIÁS                  247
PARAÍBA                223
PIAUÍ                  222
MARANHÃO               217
PERNAMBUCO             186
CEARÁ                  184
RIO GRANDE DO NORTE    167
PARÁ                   143
MATO GROSSO            141
TOCANTINS              139
ALAGOAS                102
RIO DE JANEIRO          92
ESPIRITO SANTO          78
MATO GROSSO DO SUL      78
SERGIPE                 74
AMAZONAS                61
RONDÔNIA                52
ACRE                    22
AMAPÁ                   16
RORAIMA                 15
PARANA                   3
bahia                    2
sergipe                  1
amazonas                 1
piauí                    1
DISTRITO FEDERAL         1
R.G. DO SUL              1
rio grande do sul        1
MINAS G.                 1
PARANA                   1
PIAU                     1
são paulo                1
SP                       1
Name: UF, dtype: int64

### Questão 2)

1. Remova colunas que possuam valores constantes ou redundantes (cujo valor possa ser computado por meio do uso de outras colunas)
2. Exiba, e posteriormente remova muninícipios duplicados (considere apenas as colunas nome e UF para esse fim), mantendo a primeira ocorrência.

Quantas colunas e linhas foram removidas?

(a) 2 colunas, 3 linhas<br>
(b) 2 colunas, 5 linhas<br>
(c) 3 colunas, 3 linhas<br>
(d) 3 colunas, 5 linhas<br>

---

In [12]:
# recarregar base de dados
data = pd.read_csv("../dados/pib_mba_avaliacao2022.csv")

# inspecionar colunas por valores constantes e redundantes
# remover colunas encontradas

# remover duplicatas por nome e UF

data[data.duplicated()]

,id,gid,UF,nome,Censo,PIB,Pop_est_2009,PIB_percapita,Descrição,classe,desemprego
3766,3112,3766,SÃO PAULO,Gavião Peixoto,2010.0,165148.078125,4244,38913.308594,Produto Interno Bruto per capita,3,6.5

In [37]:
data['nome'].value_counts()

Bom Jesus                  5
São Domingos               5
Bonito                     4
Vera Cruz                  4
Santa Luzia                4
                          ..
Pentecoste                 1
Penaforte                  1
Paramoti                   1
Parambu                    1
Monte Alegre de Sergipe    1
Name: nome, Length: 5292, dtype: int64

In [40]:
data[data[['UF','nome']].duplicated()]

,id,gid,UF,nome,Censo,PIB,Pop_est_2009,PIB_percapita,Descrição,classe,desemprego
1113,5569,1115,GOIÁS,Pirenópolis,2010.0,182077.437500,20945,8693.120117,Produto Interno Bruto per capita,1,4.2
3474,1737,3475,PERNAMBUCO,Pesqueira,NaN,290683.656250,64454,4509.939941,Produto Interno Bruto per capita,1,7.6
3766,3112,3766,SÃO PAULO,Gavião Peixoto,2010.0,165148.078125,4244,38913.308594,Produto Interno Bruto per capita,3,6.5

In [46]:
data[data['nome'] == 'Gavião Peixoto']

,id,gid,UF,nome,Censo,PIB,Pop_est_2009,PIB_percapita,Descrição,classe,desemprego
3765,3112,3766,SÃO PAULO,Gavião Peixoto,2010.0,165148.078125,4244,38913.308594,Produto Interno Bruto per capita,3,6.5
3766,3112,3766,SÃO PAULO,Gavião Peixoto,2010.0,165148.078125,4244,38913.308594,Produto Interno Bruto per capita,3,6.5

In [34]:
data[['UF','nome']].groupby(by =['nome'], as_index=False).count().sort_values(by='UF', ascending=False).head(50)

                      nome  UF
4526          São Domingos   5
608              Bom Jesus   5
4540         São Francisco   4
3667              Planalto   4
5152             Vera Cruz   4
4168            Santa Inês   4
4165          Santa Helena   4
4177           Santa Luzia   4
639                 Bonito   4
3296           Ouro Branco   3
5260           Água Branca   3
4236       Santa Terezinha   3
107            Alto Alegre   3
2505               Jussara   3
3042            Mundo Novo   3
604             Bom Jardim   3
1360       Cruzeiro do Sul   3
3222        Novo Horizonte   3
5221                Viçosa   3
4136            Santa Cruz   3
572          Boa Esperança   3
3805  Presidente Juscelino   3
935              Cantagalo   3
3177           Nova Olinda   3
770           Cachoeirinha   3
4989               Triunfo   3
2203                Itambé   3
533                  Belém   3
630            Bom Sucesso   3
3498           Pedra Preta   2
3207           Nova Veneza   2
5041                 Turvo   2
1197              Colorado   2
1191               Colinas   2
592                Bocaina   2
2194                 Itajá   2
4157        Santa Filomena   2
3206            Nova União   2
4185           Santa Maria   2
580              Boa Vista   2
945                 Capela   2
943               Capanema   2
261               Araguanã   2
4182           Santa Lúcia   2
5037             Turmalina   2
942              Canápolis   2
3198       Nova Santa Rita   2
1641            Feira Nova   2
4724          São Martinho   2
4169          Santa Isabel   2

---
### Questão 3)

Vamos analisar possíveis outliers nas colunas numéricas. Utilize o método da análise da dispersão pelo *desvio padrão* e inspecione as colunas 'gid', 'PIB', 'Pop_est_2009', 'desemprego', procurando por outliers globais para além de 2.5 desvios padrões com relação à média, i.e. $2.5\sigma$. Não remova outliers da base de dados, apenas identifique-os.

Quantos outliers foram encontrados, respectivamente, para 'gid', 'PIB', 'Pop_est_2009' e 'desemprego'?

(a) 0, 6, 35, 2<br>
(b) 0, 6, 27, 1<br>
(c) 0, 5, 27, 1<br>
(d) 1, 5, 35, 2<br>

In [9]:
data = pd.read_csv("./dados/pib_mba_avaliacao2022_B.csv")

In [10]:
# encontrar outliers

---

### Questão 4)

Imprima o total de valores faltantes na variável 'desemprego'. Em contato com a equipe especialista, fomos informados que uma boa forma de preencher esses valores seria o preenchimento pela média do desemprego no estado referente ao dado faltante. Assim, iremos preencher os valores `nan` de 'desemprego' com as médias agrupadas por 'UF'.

Para isso codifique uma função que deverá:
1. calcular a média de uma variável alvo A (a ser preenchida) relativa a (ou agrupada por) cada valor distinto de uma variável categórica B que se deseja usar para agrupar; no nosso caso A='desemprego' e B='UF';
2. atribuir a média calculada de forma agrupada a todas as linhas cuja variável alvo é faltante e que possua o valor da variável categórica correspondente;
3. garantir que o valor atribuido tenha o mesmo tipo da variável alvo, ou seja, int, float, etc. Quando int, realize o arredondamento utlizando `np.round(,0)`, quando float64 utilize `np.round(,1)`

Realize o preenchimento dos dados faltantes utilizando o método da média agrupada por UF.

Quantos dados faltantes existiam em "desemprego" antes da operação, e qual a média e o desvio padrão dessa variável após o preenchimento?

(a) 53 faltantes, média 6.641, desvio padrão 5.672<br>
(b) 55 faltantes, média 6.641, desvio padrão 5.672<br>
(c) 53 faltantes, média 6.636, desvio padrão 5.697<br>
(d) 55 faltantes, média 6.636, desvio padrão 5.697<br>

In [47]:
# recarregar base de dados
data = pd.read_csv("../dados/pib_mba_avaliacao2022_B.csv")

In [57]:
media = data[['UF', 'desemprego']].groupby(by='UF', as_index=False).mean()

In [80]:
media['desemprego'] = np.round(media['desemprego'] , 1)

In [56]:
# verificar atributos faltantes
# preencher faltantes
# computar media e desvio padrao

faltante = data[data['desemprego'].isna()]

In [73]:
faltante.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 3058 to 5352
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             53 non-null     int64
 1   gid            53 non-null     int64
 2   UF             53 non-null     object
 3   nome           53 non-null     object
 4   Censo          53 non-null     float64
 5   PIB            53 non-null     float64
 6   Pop_est_2009   53 non-null     int64
 7   PIB_percapita  53 non-null     float64
 8   Descrição      53 non-null     object
 9   classe         53 non-null     int64
 10  desemprego     0 non-null      float64
dtypes: float64(4), int64(4), object(3)
memory usage: 5.0+ KB

In [83]:
merge = faltante.merge(media, right_on='UF', left_on='UF')

In [84]:
merge['desemprego_y'].mean()

7.132075471698113

In [85]:
merge[['UF','desemprego_y']].groupby(by = 'UF', as_index=False).mean()['desemprego_y'].mean()

6.500000000000001

---

### Questão 5)

Desejamos projetar um algoritmo para, por meio dos atributos de entrada 'PIB', 'Pop_est_2009', 'desemprego', classificar se um município pertence à classes 1 ou 2, ou pertence à classes 3, 4 ou 5. Realize os seguintes passos:

1. gere um rótulo/label binário, que é `0` para municípios cujo atributo classe seja 1 ou 2, e `1` para municípios de classe 3, 4 ou 5;
2. preencha todos os atributos faltantes da base de dados com o valor `0`;
3. prepare a base de dados de treinamento `X` contendo apenas as colunas 'PIB', 'Pop_est_2009', 'desemprego', e os rótulos `y` binários conforme passo 1, de forma a ser aceito como entrada nas bibliotecas `sklearn` e `imblearn`;
4. gere uma nova base de dados rebalanceada `Xs` e `ys` por meio do método `over_sampling.SMOTE(random_state=0)`; 
5. treine o classificador 1 do tipo `DecisionTreeClassifier(max_depth=3, random_state=0)` nos dados originais `X`, `y`, e verifique a acurácia balanceada na predição do conjunto de treinamento `X`, i.e. gerando `y_pred = classif1.predict(X)` e computando `balanced_accuracy_score(y, y_pred)`; 
6. treine um novo classificador 2 do tipo `DecisionTreeClassifier(max_depth=3, random_state=0)` nos dados balanceados por SMOTE: `Xs`, `ys`, e verifique a acurácia balanceada na predição no conjunto de treinamento `X`, i.e. gerando `y_pred_s = classif2.predict(X)` e computando `balanced_accuracy_score(y, y_pred_s)`. 

OBS: as duas acurácias são computadas no mesmo conjunto `X` relativo ao conjunto de treinamento original.

Quais foram as acurácias balanceadas de treinamento resultantes do classificador 1 (treinado com dados originais) e do classificador 2 (treinado com dados relabanceados)? 

(a) Classificador 1: 51%,  Classificador 2: 67% <br>
(b) Classificador 1: 67%,  Classificador 2: 70% <br>
(c) Classificador 1: 67%,  Classificador 2: 89% <br>
(d) Classificador 1: 84%,  Classificador 2: 89% <br>

In [87]:
# bibliotecas necessarias
from imblearn import over_sampling
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

# carregar base de dados
data = pd.read_csv("../dados/pib_mba_avaliacao2022_B.csv")

In [89]:
# 1 - gerar rotulos binários
def rotulo(x):
    if x in [1,2]:
        return 0
    else:
        return 1
    

df = data[['PIB', 'Pop_est_2009', 'desemprego', 'classe']]

df['rotulo'] = df['classe'].apply(rotulo)

/tmp/ipykernel_16979/2169285358.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rotulo'] = df['classe'].apply(rotulo)

In [91]:
df = df.drop(columns='classe')

In [92]:
# 2 - preencher faltantes
df = df.fillna(0)

In [100]:
# 3 - preparar base de dados
X = df[['PIB', 'Pop_est_2009', 'desemprego']]
Y = df['rotulo']

In [101]:
# 4 - realizar oversampling
oversamp = over_sampling.SMOTE(random_state=0)
Xs, Ys = oversamp.fit_resample(X, Y)

In [104]:
# 5 - treinar/avaliar classificador 1
clf = DecisionTreeClassifier(max_depth=3, random_state=0)
clf.fit(Xs, Ys)
y_pred = clf.predict(X)
metrics.balanced_accuracy_score(Y, y_pred)

0.8935654195834861

In [105]:
# 6 - treinar/avaliar classificador 2
clf = DecisionTreeClassifier(max_depth=3, random_state=0)
clf.fit(X, Y)
y_pred = clf.predict(X)
metrics.balanced_accuracy_score(Y, y_pred)

0.6746295742436883